body {
    
}
*{
    margin: 0;
}
.Navigation {
    list-style-type: none;
    display: flex;
    gap: 67px;
    background-color: rgb(86, 130, 177);
    align-items: center;
    font-size: 1.67em;
    font-family: Raleway;
}
.JobFindLogo {
    top: 200px;
    margin-left: 40px;
    width: 170px;
    height: 140px;
    cursor: pointer;
}
.searchBar {
    align-items: center;
    width: max-content;
    display: flex;
    --padding: 14px;
    border-radius: 28px;
    background: #f6f6f6; 
    padding: var(--padding);
    transition: box-shadow 0.25s;
    margin-left: 15%;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}
.search-input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    font-family: Raleway;
}

    .search-input::placeholder,
    .search-icon{
            color: rgba(0,0,0,0.25);
    }
.searchBar:focus-within {
    box-shadow: 0 0 2px rgba(0,0,0, 0.75);
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}